<link rel="import" href="../bower/polymer/polymer.html" />
<link rel="import" href="../bower/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../bower/paper-menu/paper-menu.html" />
<link rel="import" href="../bower/paper-item/paper-item.html" />
<link rel="import" href="../bower/paper-button/paper-button.html" />
<link rel="import" href="../bower/iron-icons/iron-icons.html" />
<link rel="import" href="../bower/page-router/page-router.html" />
<link rel="import" href="../bower/app-layout/app-layout.html" />
<link rel="import" href="../bower/paper-styles/shadow.html" />

<dom-module id="<%= kebabCasedName %>-app">
  <style>
  app-header {
    background-color: var(--default-primary-color);
    color: var(--text-primary-color);
    @apply(--shadow-elevation-8dp);
  }
  </style>
  <template>
    <app-header-layout>
      <app-header fixed>
        <app-toolbar>
          <paper-icon-button icon="menu" onclick="drawer.toggle()"></paper-icon-button>
          <div main-title><%= name %></div>
          <paper-icon-button icon="delete"></paper-icon-button>
          <paper-icon-button icon="search"></paper-icon-button>
          <paper-icon-button icon="close"></paper-icon-button>
        </app-toolbar>
      </app-header>
      <page-router-slot name="main" class="flex main-slot"></page-router-slot>
    </app-header-layout>
    <app-drawer id="drawer" swipe-open on-click="_drawerClicked">
      <div class="layout vertical drawer-items">
        <paper-menu>
          <page-link goto="/" class="drawer-item">
            <paper-item>Home</paper-item>
          </page-link>
        </paper-menu>
      </div>
    </app-drawer>
  </template>
  <script>
  Polymer({
    is: '<%= kebabCasedName %>-app',

    ready: function() {
      var router = document.createElement('page-router');

      router.constructComponentPath = function(compName) {
        return 'components/pages/'+compName+'.html';
      };

      // android_asset/www/index.html is needed as that's the first page in case of a cordova app
      router.route({path: '/(android_asset/www/index.html)?', comp: 'pg-home'});
      router.start();
    },

    _drawerClicked: function() {
      this.$['drawer'].close();
    }
  });
  </script>
</dom-module>
